.App {
  text-align: center;
}

:root {
  --background-color: #03045e;
}

body {
  background-color: var(--background-color);
}

h1{
  color: white;
}

nav{
  background-color: var(--background-color);
  color: white;
}




