.App {
  text-align: center;
}

:root {
  --color-background-light: #FFFFFF;
  --color-text-light: #000000;

  --color-background-dark: #000000;
  --color-text-dark: #FFFFFF;
}

body{
  background-color: var(--color-background);
  color: var(--color-text);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40vw;
  max-width: 40vw;
  max-height: 50vh;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content table {
  border-collapse: collapse;
  width: 100%;
}

.dropdown-content th, .dropdown-content td {
  text-align: left;
  padding: 8px;
}

.dropdown-content tr:nth-child(even) {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-input {
  width: 40vw;
  border-color: gray;
}

.input-group {
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}






